.avatar {
    width: 2.5rem;
    border-radius: 9999px;
}

.input {
    height: 2rem/* 32px */;
    padding-left: 1rem/* 16px */;
    padding-right: 1rem/* 16px */;
    font-size: 0.875rem/* 14px */;
    font-size: 1rem/* 16px */;
    line-height: 1.25rem/* 20px */;
    line-height: 2;
    line-height: 1.5rem/* 24px */;
    border-radius: 0.5rem/* 8px */;
    border-width: 1px;
    border-color: grey
}