.avatar {
    width: 2.5rem;
    border-radius: 9999px;
}

.searchbar {
    display: flex;
    justify-content: center;
}

@media (min-width: 426px) {
    .navbar-top {
        display: flex;
    }
    .searchbar {
        width: auto;
    }
    .search-input {
        width: auto;
    }
}